<%layout("/Layouts/boilerplat.ejs")-%>
<br />
<div class="row">
  <div class="col-8 offset-2">
    <h3>Create a New Listing</h3>
    <form method="post" action="/listing/create">
      <div>
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="title"
          placeholder="Enter Listing title"
          class="form-control"
        />
      </div>

      <br />
      <div>
        <label for="description" class="form-label">description</label>
        <textarea
          name="description"
          rows="4"
          placeholder="Enter description"
          cols="20"
          class="form-control"
        >
        </textarea>
      </div>
      <br />

      <div>
        <label for="image" class="form-label">Image URL</label>
        <input
          type="text"
          name="title"
          placeholder="Enter image URL"
          class="form-control"
        />
      </div>
      <br />

      <div>
        <label for="filename" class="form-label">filename</label>
        <input
          type="text"
          name="filename"
          placeholder="Enter image FileName"
          class="form-control"
        />
        <br />
      </div>
      <div class="row">
        <div class="mb-3 col-4">
          <label for="number" class="form-label">number</label>
          <input
            type="number"
            name="price"
            placeholder="Enter Price"
            class="form-control"
          />
          <br />
        </div>
        <div class="mb-3 col-8">
          <label for="country" class="form-label">country</label>
          <input
            type="text"
            name="country"
            placeholder="Enter Your Country"
            class="form-control"
          />
          <br />
        </div>
      </div>
      <div>
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="location"
          class="form-control"
          placeholder="Enter Your location"
        /><br />
      </div>

      <div><button  class="btn btn-dark add-btn">Add</button></div>
      <br />
    </form>
  </div>
</div>
